Standard: c++17
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
TabWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: true
AccessModifierOffset: 0
NamespaceIndentation: All
BreakBeforeBraces: Custom
AlignConsecutiveMacros: true
AlignAfterOpenBracket: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
UseTab: Never
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  AfterClass: true
  SplitEmptyFunction: true
  AfterControlStatement: false
  AfterNamespace: false
  AfterFunction: false
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
  
